.audioButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  transition: transform 0.2s ease;
}

.audioButton:hover {
  transform: scale(1.05);
}

.buttonImage {
  width: 70px; /* Ajuste o tamanho da imagem do gatinho */
  height: auto;
  border-radius: 50%; /* Se quiser a imagem redonda */
}