/* Reset básico para todos os elementos */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
  font-family: 'Arial', sans-serif; /* Fonte padrão */
  background-color: #f0f0f0; /* Um fundo neutro para o corpo */
  color: #333;
}