/* src/index.css */

/* Reset básico para todos os elementos */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth; /* Para rolagem suave */
  /* --- AQUI ESTÁ A CHAVE: --- */
  scroll-padding-top: 70px; /* Compensa a altura do header fixo (70px) */
  /* --- FIM DA CHAVE --- */
  scroll-padding-bottom: 50px; /* Compensa a altura do footer fixo (50px) */
}

body, #root {
  height: 100%;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

/* Estilos para o elemento main */
.main-content {
  --header-height: 70px;
  --footer-height: 50px;

  padding-top: var(--header-height);
  padding-bottom: var(--footer-height);
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}